# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Entornos
.venv/
venv/

# Datos locales (Render tiene FS efímero)
Data/*.log
camiones.db
*.sqlite3
docker-compose.yml
pgdata-dev/
app2.py
fix_remitos_viejos.py
# logearse: gh auth login

fix_remitos_viejos.py
fix_patentes.py
reset_admin.py
reset_certificados.py
undo_bad_sync.py
reset_certificados_by_remito.py