# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Entornos
.venv/
venv/

# Datos locales (Render tiene FS efímero)
Data/*.log
camiones.db
*.sqlite3
docker-compose.yml
pgdata-dev/
app2.py
fix_remitos_viejos.py
# logearse: gh auth login